* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    background: #FAF9F6;
    }

    .todo-container {
    color: black;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: #d3d3d3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .todo {
    width: 400px;
    }

    .todo-container h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
    }

    .todo-header input {
    width: 87%;
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-family: 'Candal', sans-serif;
    }

    .todo-header button {
    color: white;
    width: 12%;
    height: 35px;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(40, 161, 77);
    }

    .todo-container ul {
    list-style: none;
    }

    .todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    background: #ebebeb;
    display: flex;
    flex-direction: row;
    }

    .todo-list-item form {
    width: 100%;
    display: flex;
    }

    .todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    }

    .todo-list-item button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(40, 161, 77);
    }

    .todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    }

    .todo-list-item div {
    flex-grow: 2;
    }

    .todo-list-item .edit {
    color : rgb(40, 161, 77);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
    }

    .todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
    }